[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Kenzo/mido maintainers
[access "refs/heads/*"]
	create = group Kenzo/mido maintainers
	push = +force group Kenzo/mido maintainers
	label-Code-Review = -2..+2 group Kenzo/mido maintainers
	label-Verified = -1..+1 group Kenzo/mido maintainers
	submit = group Kenzo/mido maintainers
	pushMerge = group Kenzo/mido maintainers
