[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Kenzo maintainers
[access "refs/heads/*"]
	create = group Kenzo maintainers
	push = +force group Kenzo maintainers
	label-Code-Review = -2..+2 group Kenzo maintainers
	label-Verified = -1..+1 group Kenzo maintainers
	submit = group Kenzo maintainers
